* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../assets/background-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.wrapper,
.footerWrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
    background-color: rgba($white, 0.9);
}

.wrapper {
    padding: 60px 120px;
}

p {
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
};

i {
    color: $lightYellow;
    font-size: 2rem;
    padding-right: 20px;
}
