html {
    font-size: 125%;
};

body {
    font-family: $bodyFont;
    font-size: 1rem;
    font-weight: normal;
    color: #000;
    text-align: center;
    line-height: 1rem;
    letter-spacing: 0;
}

h1, h2, h3 {
    font-family: $headingFont;
    color: #984638;
    margin: 0;
}

h1 {
    font-size: 4rem;
    line-height: 3rem;
    letter-spacing: 1;
}

span {
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    display: block;
    font-size: 3rem;
    font-weight: 200;
}

h2 {
    font-size: 2.5rem;
    line-height: 2rem;
    color: #facd67;
}

h3 {
    font-size: 1.5rem;
    color: #facd67;
}

