html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-size: 1rem;
    font-weight: normal;
    color: $black;
    text-align: center;
    line-height: 1rem;
}

h1, h2, h3 {
    font-family: $headingFont;
    color: $darkRed;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 4rem;
    text-transform: uppercase;
    padding-bottom: 40px;
}

span {
    display: block;
    font-family: $logoFont;
    font-size: 7rem;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 8rem;
}

h2 {
    font-size: 1.3rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

i {
    color: $lightYellow;
    font-size: 2rem;
    padding-right: 20px;
}

