/* Fonts */
$headingFont: 'Mochiy Pop One', sans-serif;
$logoFont: 'Dawning of a New Day', cursive;
$bodyFont: 'Nunito', sans-serif;

/* Colors */
$darkGreen: #2C644F;
$lighterGreen: #629984;
$softGreyBeige: #F0F0EB;