.description {
    margin: 30px 0; 
}

form {
    outline: none;
    background-color: rgba(#facd67, 0.7);
    padding: 30px 0;
    margin: 0 auto;
    border-bottom: 3px solid #984638;
    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        select {
            width: 60%;
            appearance: none;
            border: none;
            font-family: $bodyFont;
            color: #984638;
            background-color: white;
            padding: 15px 0;
            text-align: center;
            border-bottom: 3px dotted #984638;
        }
        label {
            padding-bottom: 10px;
        }
    }
    button {
        color: white;
        background-color: #984638;
        padding: 12px 16px;
        font-family: $headingFont;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2rem;
        letter-spacing: 1px;
        text-align: center;
        border: 3px solid #984638;
        transition: 0.4s;
        cursor: pointer;
        &:hover, &:focus {
            color: #984638;
            background-color: white;
        }
    }
}

// .productDisplay {
//     background-image: url(../assets/product-card.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
    
// }

.productContainer {
    background: rgba(#FFF, 1);
    // border: 8px dashed #facd67;
    margin: 40px auto;
    // padding: 10%;
    width: 100%;
    // border-radius: 25px;
    // box-shadow: 12px 12px 3px 2px #facd67;
}

.productName {
    padding-bottom: 20px;

}

.productPrice {
    padding: 15px 0;
}

.productImage {
    width: 200px;
    height: auto;
    margin-top: 50px;
}


.tagDefinition {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    .tagContainer {
        width: 49%;
        padding-bottom: 40px;
        .tagTitle {
            display: flex;
            align-items: center;
            padding-bottom: 12px;
        }
    }
}

footer {
    background-color: #984638;
    color: white;
    padding: 15px 0;
    a {
        text-decoration: none;
        color: #facd67;

    }
}
